@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  :root {
    --background: 252 100% 95%;
    --foreground: 252 5% 0%;
    --card: 252 50% 90%;
    --card-foreground: 252 5% 10%;
    --popover: 252 100% 95%;
    --popover-foreground: 252 100% 0%;
    --primary: 252 73% 44%;
    --primary-foreground: 0 0% 100%;
    --secondary: 252 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 214 30% 85%;
    --muted-foreground: 252 5% 35%;
    --accent: 214 30% 80%;
    --accent-foreground: 252 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 252 5% 90%;
    --border: 252 30% 50%;
    --input: 252 30% 18%;
    --ring: 252 73% 44%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 252 50% 5%;
    --foreground: 252 5% 90%;
    --card: 252 50% 0%;
    --card-foreground: 252 5% 90%;
    --popover: 252 50% 5%;
    --popover-foreground: 252 5% 90%;
    --primary: 252 73% 44%;
    --primary-foreground: 0 0% 100%;
    --secondary: 252 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 214 30% 15%;
    --muted-foreground: 252 5% 60%;
    --accent: 214 30% 15%;
    --accent-foreground: 252 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 252 5% 90%;
    --border: 252 30% 18%;
    --input: 252 30% 18%;
    --ring: 252 73% 44%;
    --radius: 0.5rem;
  }
}
